@page "/campobjectdisplay"
@using AgaiUI.Data
@using Agai
@using Newtonsoft.Json;

@if (!(@ShowOnlyUncategorized ?? false) || @Uncategorized)
{
    @if (Object is null || Object.Position is null)
    {
        <div>Loading...</div>
    }
    else
    {
        var x = $"{(@Object.Position.Value.x + XWiggle) * @ScaleFactor}px";
        var y = $"{(@Object.Position.Value.y - YWiggle) * @ScaleFactor}px";
        <img id="@Object.Id" @onclick='() => OnSelected()' src="@ImgName"
             height="@Object.Height*@ScaleFactor" width="@Object.Width*@ScaleFactor"
             style="bottom:@y;left:@x;" />
    }
}

@code {
    [Parameter]
    public GameObject? Object { get; set; }
    [Parameter]
    public double ScaleFactor { get; set; } = 30;
    [Parameter]
    public double XWiggle { get; set; }
    [Parameter]
    public double YWiggle { get; set; }

    [Parameter]
    public bool? ShowOnlyUncategorized { get; set; }

    [Parameter]
    public EventCallback<GameObject> ObjectSelected { get; set; }

    public string ImgName => $"img/camp/{Object.Name}.jpg";
    public bool Uncategorized => !File.Exists(ImgName);

    protected async Task OnSelected()
    {
        if (Object is not null)
            await ObjectSelected.InvokeAsync(Object);
    }
}
